/* body{
	background-color: rgba(0, 0, 0, 0.425);
	height: 100vh;
} */


body {
	overflow-x: hidden;
	/* background-color: white; */
}

.hello {
	position: fixed;
	width: 100%;
}

.img2 img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
	margin-top: 5px;
}

.img p {
	margin-left: 10px;
}

.auto {
	margin-left: 190px;
	position: relative;
	top: 60px;
	position: fixed;
	width: 100%;
	background-color: white;
}



.auto a {
	margin-left: 10px;
	text-decoration: none;
	color: black;
	font-size: 13px;
	background-color: rgba(245, 245, 245, 0.623);
	border-radius: 10px;
	position: relative;
	left: 50px;
}

.home a {
	text-decoration: none;
	color: black;
}

.home {
	font-size: 25px;
	width: 220px;
	padding: 2px;
	line-height: 60px;
	position: relative;
	top: 70px;
	overflow-y: auto;
	height: 100%;
	position: fixed;
	background-color: azure;
}

.home::-webkit-scrollbar {
	display: none;
}

/* .img1 p{
	margin-top: -24px;
	margin-left: 300px;
} */

.row {
	margin-left: 120px;
	width: 100%;
	margin-top: 100px;
	/* gap: 1px; */
	/* box-shadow: 0px 5px 3px rgba(0,0,0,0,0.1); */
	/* width: 900px; */
}


.img3:hover {
	transform: scale(1.04);
	/* transition: calc(1.02); */
	transition: 1s;
}





.HK:hover {
	background-color: bisque;
	width: 300px;
	border-radius: 10px;
}

.img1 img {
	border-radius: 10px;
	/* width: 300px; */
}

/* .phone{
    display: none;
} */


.photo-you img {
	width: 30px;
	height: 30px;
	border: 3px solid black;
	border-radius: 100%;
}

.plus {
	/* display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 20px; */
	display: none;
}

.plus p {
	font-size: 13px;
}

/* .h {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 20px;
	position: relative;
	top: 40px;
	background-color: beige;
	height: 80px;
} */

@media screen and (max-width:650px) {
	.jk input {
		display: none;
	}

	.jk i {
		display: none;
	}

	.i {
		font-size: 20px;
		margin-right: 5px;
	}

	.bi-bell {
		margin-left: -9px;
	}

	.auto {
		display: flex;
		overflow-x: auto;
		width: 420px;
		margin-left: -50px;
		z-index: 1;
	}

	.auto::-webkit-scrollbar {
		display: none;
	}

	.auto a {
		height: 35px;
		padding: 10px;
		white-space: nowrap;
		margin: 1px;
		font-size: 12px;
	}

	.home {
		display: none;

	}

	.row {
		margin-left: 2px;
		margin-top: 100px;
		z-index: 1;

	}

	.li i {
		position: relative;
		left: -10px;
	}

	.img2 img {
		position: relative;
		left: -8px;

	}

	.img2 {
		z-index: -1;
	}

	.plus {
		display: block;
	}

		.h {
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding: 8px 20px;
		position: absolute;
		top: 596px;
		background-color: whitesmoke;
		height: 80px;
		position: fixed;
        width: 100%;
	}


}

@media screen and (max-width:768px) and (min-width:576px) {

	.jk input {
		display: none;
	}

	.jk i {
		display: none;
	}

	.home {
		display: none;
	}

	.auto {
		margin-left: -30px;
		overflow-x: auto;
		width: 100%;
		white-space: nowrap;
	}

	.auto::-webkit-scrollbar {
		display: none;
	}


	.row {
		margin-left: -20px;
		/* display: flex;
		flex-direction: row; */
	}

	/* .img{
		display: flex;
		flex-direction: row;
	} */

	.row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* gap: 20px; */
		gap: 20px;
	}

	.lk i {
		margin-left: 20px;
	}

}
